<!-- templates/ice_cream/ice_cream_list.html -->

<!DOCTYPE html>

{% load static %}
<html lang="ru">
  <head>
  </head>
  <body>
    <header>

    <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
      <!-- В дальнейшем тут будет создано полноценное меню -->
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <img height="30" align="right" hspace="45"  src="{% static 'img/logo.png' %}" href="{% url 'posts:main_posts' %}">
        <div class="container">
          <a class="navbar-brand" href="index.html"><span style="color:red; padding-left:1px">Ya</span>tube
          </a>
        </div>
      </nav>
    </header>
    <main>

    </main>
    <footer>
    </footer>
  </body>
</html>